Repository MKSG-MugunthKumar/wallflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check-lock, no-debug-prints, check-todos

Path conditions:
  cargo-check-lock: any of: Cargo\.(toml|lock)
  no-debug-prints: any of: \.rs$
  check-todos: any of: \.rs$

fix: Correct the version in cargo toml and changed the config directory location to be under company
  Cargo.lock
  Cargo.toml
  src/config/mod.rs
  src/main.rs
Due: cargo-check-lock, no-debug-prints, check-todos

chore: update cargo lock
  Cargo.lock
  Cargo.toml
Due: cargo-check-lock

fix: path used by daemon process
  src/daemon.rs
  src/daemon_status.rs
Due: no-debug-prints, check-todos

docs: add status badges to README
  README.md
Due: none

docs: add trademark policy and update config paths
  README.md
  TRADEMARK.md
Due: none

feat: add --output and --no-set flags for download-only mode
  src/daemon.rs
  src/downloaders/apod.rs
  src/downloaders/bing.rs
  src/downloaders/earthview.rs
  src/downloaders/mod.rs
  src/downloaders/picsum.rs
  src/downloaders/reddit.rs
  src/downloaders/traits.rs
  src/downloaders/unsplash.rs
  src/downloaders/wallhaven.rs
  src/main.rs
  src/wallpaper/mod.rs
Due: no-debug-prints, check-todos

fix: improve daemon commandline
  src/daemon.rs
  src/main.rs
Due: no-debug-prints, check-todos

feat: add service files and a makefile to install service
  Makefile
  systemd/wallflow.desktop
  systemd/wallflow.service
Due: none

docs: add service installation instructions to README
  README.md
Due: none

fix: add install dependency to service targets
  Makefile
Due: none

fix: path in desktop file
  Makefile
  systemd/wallflow.desktop
Due: none

fix: foreground issues
  src/daemon.rs
  src/platform/mod.rs
  src/wallpaper/backends/awww.rs
  src/wallpaper/backends/traits.rs
  src/wallpaper/mod.rs
Due: no-debug-prints, check-todos

fix: read framerate from config
  src/wallpaper/backends/awww.rs
Due: no-debug-prints, check-todos

fix: add a lib export
  Cargo.toml
  config.example.yml
  src/config/mod.rs
  src/daemon.rs
  src/integration/wal.rs
  src/lib.rs
  src/platform/mod.rs
Due: cargo-check-lock, no-debug-prints, check-todos

debug: add logging for GNOME wallpaper setting investigation
  src/platform/mod.rs
  src/wallpaper/backends/awww.rs
  src/wallpaper/backends/registry.rs
  src/wallpaper/mod.rs
Due: no-debug-prints, check-todos

feat: export wallpaper module and apply_wallpaper function
  src/integration/macos.rs
  src/integration/wal.rs
  src/lib.rs
  src/logging.rs
  src/platform/mod.rs
  src/wallpaper/backends/awww.rs
  src/wallpaper/backends/macos.rs
  src/wallpaper/backends/registry.rs
  src/wallpaper/mod.rs
Due: no-debug-prints, check-todos

chore: bump version to 0.4.0
  Cargo.lock
  Cargo.toml
Due: cargo-check-lock

fix: remove copilot file
  .github/copilot-instructions.md
Due: none

feat: add native color extraction, template engine, and CI
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  config.example.yml
  src/colors/extractor.rs
  src/colors/mod.rs
  src/colors/scheme.rs
  src/config/mod.rs
  src/daemon.rs
  src/integration/mod.rs
  src/integration/wal.rs
  src/lib.rs
  src/main.rs
  src/templates/download.rs
  src/templates/engine.rs
  src/templates/manifest.rs
  src/templates/mod.rs
  src/wallpaper/mod.rs
Due: cargo-check-lock, no-debug-prints, check-todos

fix: add Default derives to satisfy clippy new_without_default lint
  src/wallpaper/backends/awww.rs
  src/wallpaper/backends/linux.rs
  src/wallpaper/backends/windows.rs
Due: no-debug-prints, check-todos

fix: merge conflicts
  Cargo.lock
  Cargo.toml
  src/wallpaper/backends/awww.rs
  src/wallpaper/backends/gnome.rs
  src/wallpaper/backends/mod.rs
  src/wallpaper/backends/registry.rs
Due: cargo-check-lock, no-debug-prints, check-todos

fix: template rendering
  config.example.yml
  src/colors/mod.rs
  src/colors/scheme.rs
  src/config/mod.rs
  src/config/tests.rs
  src/integration/mod.rs
  src/integration/wal.rs
  src/logging.rs
  src/main.rs
  src/templates/engine.rs
  src/templates/mod.rs
  src/tui/ui.rs
  src/wallpaper/mod.rs
Due: no-debug-prints, check-todos

fix: precommit formatting
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  src/wallpaper/backends/gnome.rs
Due: no-debug-prints, check-todos

fix: add cargo lock
  .gitignore
  Cargo.lock
  src/daemon.rs
  src/main.rs
  src/templates/download.rs
Due: cargo-check-lock, no-debug-prints, check-todos

fix: Add new command to Makefile
  Makefile
Due: none

fix: template extraction zeroing out unchanged files
  src/templates/download.rs
Due: no-debug-prints, check-todos

feat: detect system dark mode when prefer_dark is unset
  src/main.rs
  src/platform/mod.rs
  src/wallpaper/mod.rs
Due: no-debug-prints, check-todos

fix: systemd service missing environment variables for GNOME
  Cargo.lock
  Cargo.toml
  src/daemon.rs
  systemd/wallflow.service
Due: cargo-check-lock, no-debug-prints, check-todos

fix: add COPR build support with .copr/Makefile
  .copr/Makefile
  wallflow.spec
Due: none
