Repository MKSG-MugunthKumar/wallflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check-lock, no-debug-prints, check-todos

Path conditions:
  cargo-check-lock: any of: Cargo\.(toml|lock)
  no-debug-prints: any of: \.rs$
  check-todos: any of: \.rs$

Add precommit and and docs
  .pre-commit-config.yaml
Due: none

Fix file formatting
  .gitignore
  .markdownlint.json
  .pre-commit-config.yaml
  .prettierrc.json
  .rustfmt.toml
  .yamllint.yml
  CLAUDE.md
  Cargo.toml
  README.md
  config.example.yml
  debian/postinst
  debian/prerm
  docs/explore.md
  docs/history.md
  docs/learning-path.md
  docs/pre-commit-guide.md
  scripts/build-packages.sh
  scripts/create-custom-repo.sh
  scripts/github-release-setup.sh
  scripts/setup-copr.sh
  scripts/setup-pre-commit.sh
  src/daemon.rs
  src/main.rs
  src/wallpaper.rs
Due: cargo-check-lock, no-debug-prints, check-todos

Refactor wallpaper system with cross-platform backend architecture
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  docs/cross-platform-wallpaper-prd.md
  docs/explore.md
  docs/history.md
  docs/learning-path.md
  docs/pre-commit-guide.md
  docs/refactoring-plan.md
  docs/wallpaper-downloaders-prd.md
  src/main.rs
  src/platform/mod.rs
  src/wallpaper/backends/awww.rs
  src/wallpaper/backends/linux.rs
  src/wallpaper/backends/macos.rs
  src/wallpaper/backends/mod.rs
  src/wallpaper/backends/traits.rs
  src/wallpaper/backends/windows.rs
  src/wallpaper/mod.rs
  src/wallpaper_legacy.rs
Due: cargo-check-lock, no-debug-prints, check-todos

Add more downloaders and a basic TUI using kitty graphics protocol
  Cargo.lock
  Cargo.toml
  config.example.yml
  docs/tui-kitty-graphics-prd.md
  src/config/mod.rs
  src/config/tests.rs
  src/daemon_status.rs
  src/display.rs
  src/downloaders/apod.rs
  src/downloaders/mod.rs
  src/downloaders/registry.rs
  src/downloaders/traits.rs
  src/logging.rs
  src/main.rs
  src/platform/mod.rs
  src/tui/app.rs
  src/tui/events.rs
  src/tui/mod.rs
  src/tui/ui.rs
  src/wallpaper/backends/awww.rs
  src/wallpaper/backends/linux.rs
  src/wallpaper/backends/macos.rs
  src/wallpaper/backends/mod.rs
  src/wallpaper/backends/traits.rs
  src/wallpaper/backends/windows.rs
  src/wallpaper/mod.rs
Due: cargo-check-lock, no-debug-prints, check-todos

Refactor mod contents to individual module files
  config.example.yml
  src/downloaders/apod.rs
  src/integration/mod.rs
  src/integration/wal.rs
  src/logging.rs
  src/main.rs
  src/tui/app.rs
  src/wallpaper/backends/awww.rs
  src/wallpaper/backends/linux.rs
  src/wallpaper/backends/mod.rs
  src/wallpaper/backends/registry.rs
  src/wallpaper/mod.rs
  src/wallpaper_legacy.rs
Due: no-debug-prints, check-todos

Fix double awww registration and backend parameter
  src/integration/wal.rs
  src/wallpaper/backends/registry.rs
Due: no-debug-prints, check-todos

Fix config
  config.example.yml
  docs/refactoring-plan.md
  src/config/mod.rs
  src/config/tests.rs
  src/daemon.rs
  src/daemon_status.rs
  src/downloaders/apod.rs
  src/downloaders/client.rs
  src/downloaders/filesystem.rs
  src/downloaders/mod.rs
  src/downloaders/registry.rs
  src/downloaders/traits.rs
  src/logging.rs
  src/main.rs
  src/tui/ui.rs
  src/wallpaper/backends/traits.rs
  src/wallpaper/mod.rs
Due: no-debug-prints, check-todos

Fix iterator efficiency
  config.example.yml
  docs/TODO-downloaders.md
  src/config/mod.rs
  src/downloaders/apod.rs
  src/integration/wal.rs
  src/main.rs
  src/wallpaper/backends/registry.rs
  src/wallpaper/mod.rs
Due: no-debug-prints, check-todos

Add KDE Plasma wallpaper integration
  src/integration/kde.rs
  src/integration/mod.rs
  src/wallpaper/mod.rs
Due: no-debug-prints, check-todos

Implement Wallhaven and Picsum downloaders
  src/config/mod.rs
  src/downloaders/mod.rs
  src/downloaders/picsum.rs
  src/downloaders/registry.rs
  src/downloaders/wallhaven.rs
  src/wallpaper/mod.rs
Due: no-debug-prints, check-todos

Add wallhaven and picsum
  src/integration/wal.rs
Due: no-debug-prints, check-todos

Fix claude md
  CLAUDE.md
Due: none

Add reddit, unsplash, bing, earthview to wallflow
  docs/TODO-downloaders.md
  src/config/mod.rs
  src/daemon.rs
  src/downloaders/apod.rs
  src/downloaders/bing.rs
  src/downloaders/earthview.rs
  src/downloaders/mod.rs
  src/downloaders/picsum.rs
  src/downloaders/reddit.rs
  src/downloaders/registry.rs
  src/downloaders/traits.rs
  src/downloaders/unsplash.rs
  src/downloaders/wallhaven.rs
  src/integration/wal.rs
  src/main.rs
  src/wallpaper/mod.rs
Due: no-debug-prints, check-todos

Update unsplash
  config.example.yml
  docs/TODO-downloaders.md
  src/config/mod.rs
  src/downloaders/unsplash.rs
Due: no-debug-prints, check-todos

Add self-update command and crates.io support
  .github/workflows/release.yml
  Cargo.toml
  src/main.rs
  src/updater.rs
Due: cargo-check-lock, no-debug-prints, check-todos

Add crates.io publish to release workflow
  .github/workflows/release.yml
Due: none

Fix wallflow.spec for COPR builds
  wallflow.spec
Due: none

Add COPR webhook to release workflow
  .github/workflows/release.yml
  README.md
  scripts/github-release-setup.sh
  scripts/setup-copr.sh
Due: none

Add README, CONTRIBUTING, and TODO documentation
  CONTRIBUTING.md
  README.md
  TODO.md
Due: none

Fix README links: Hyprland, awww, remove GNOME
  README.md
Due: none

Fix docs
  docs/TODO-downloaders.md
  src/wallpaper_legacy.rs
Due: no-debug-prints, check-todos

fix: log file being creating in the same directoyr even when empty
  src/logging.rs
Due: no-debug-prints, check-todos

Add mac support through multiple backends
  src/display.rs
  src/platform/mod.rs
  src/wallpaper/backends/macos.rs
  src/wallpaper/backends/registry.rs
Due: no-debug-prints, check-todos

fix daemon
  src/daemon.rs
Due: no-debug-prints, check-todos

feat: Add TUI support
  Cargo.lock
  Cargo.toml
  TODO.md
  docs/cross-platform-wallpaper-prd.md
  docs/tui-kitty-graphics-prd.md
  src/daemon.rs
  src/main.rs
  src/tui/app.rs
  src/tui/events.rs
  src/tui/mod.rs
  src/tui/ui.rs
  src/wallpaper/backends/awww.rs
Due: cargo-check-lock, no-debug-prints, check-todos

fix: actions build
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
Due: cargo-check-lock

fix: TODO file
  TODO.md
Due: none

fix: daemon multi init
  src/daemon.rs
Due: no-debug-prints, check-todos

fix: concurrency issue
  src/main.rs
Due: no-debug-prints, check-todos

feature: notify kitty
  .yamllint.yml
  config.example.yml
  src/config/mod.rs
  src/daemon.rs
  src/integration/wal.rs
  src/main.rs
Due: no-debug-prints, check-todos

fix: notify kitty and run stty sane to avoid terminal corruption
  src/integration/wal.rs
Due: no-debug-prints, check-todos

chore: bump version to 0.2.1
  Cargo.lock
  Cargo.toml
Due: cargo-check-lock

fix mac related issues
  src/integration/macos.rs
  src/integration/mod.rs
Due: no-debug-prints, check-todos

Fix mac implementation
  Cargo.lock
  Cargo.toml
  src/integration/mod.rs
  src/platform/mod.rs
  src/wallpaper/backends/mod.rs
  src/wallpaper/backends/registry.rs
Due: cargo-check-lock, no-debug-prints, check-todos

chore: update precommit installer hooks
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  scripts/setup-pre-commit.sh
Due: cargo-check-lock

feat: add support for desktoppr
  src/display.rs
  src/integration/macos.rs
  src/integration/mod.rs
  src/platform/mod.rs
  src/swift/wallflow_helper.swift
  src/wallpaper/backends/macos.rs
  src/wallpaper/backends/registry.rs
Due: no-debug-prints, check-todos

revert: remove desktoppr support
  src/display.rs
  src/integration/macos.rs
  src/swift/wallflow_helper.swift
  src/wallpaper/backends/macos.rs
  src/wallpaper/backends/registry.rs
Due: no-debug-prints, check-todos

ci: re-enable macOS builds in release workflow
  .github/workflows/release.yml
Due: none
